*{
	margin:0px;
	font-family:ariel;

}

:root {
  --theme-color: #0088FF;
}

.ThemeA #navigation{
	float:left;
	background:#EEEEEE;

	height:100%;
	width:400px;
}

.ThemeA #header{
	padding:12px;
	padding-left:60px;
	background:var(--theme-color);


	color:#FFFFFF;
}

.ThemeA #navigationDrawer{
	position:absolute;
	background:var(--theme-color) url('media/ic_apps_white_24dp_1x.png');
	background-repeat:no-repeat;
	background-position: center;

	border-bottom-right-radius:8px;
	border:none;

	width:50px;
	height:50px;
}

.ThemeA #navigation ul{
    list-style-type: none;
	padding:0px;
}

.ThemeA #navigation h3{
    color:var(--theme-color);
}

.ThemeA #navigation ul li{
	padding:10px;

}

.ThemeA #navigation ul .category{
	border-bottom:1px solid #AAAAAA;
}

.ThemeA .searchBar{
	padding:10px;
	border:1px solid var(--theme-color);
	background:#EEEEEE;
	border-radius:5px;
	display:inline;
	vertical-align: middle;
}

.ThemeA .GPSbutton{
	width:40px;
	height:40px;
	background:var(--theme-color);
	border-radius:5px;
	border:none;
	display:inline;
	vertical-align: middle;
}

.ThemeA .dropDownMenu{
	padding:10px;
	border:1px solid var(--theme-color);
	background:#EEEEEE;
	border-radius:5px;
	display:inline;
	vertical-align: middle;

}

.ThemeA .dropDownMenu option{
	border:1px solid #AAAAAA;

}

.ThemeA .checkbox{
	-webkit-appearance: none;
	padding:8px;
	border:1px solid var(--theme-color);
	border-radius:3px;
	
}

.ThemeA .checkbox:checked{
	background:var(--theme-color);
}
.ThemeA #map{
	float:left;
	width:calc(100% - 400px);
}
