*{
	margin:0px;
	font-family:Arial Helvacetica sans-serif !important;

}

:root {
  --theme-color: #0088FF;
  --grey-color: #AAAAAA;
}

.ThemeA #navigation{
	z-index:5;
	
	position:absolute;
	left:0px;
	top:0px;
	bottom:0px;
	
	width:400px;
	
	background:#EEEEEE;
	box-shadow:0px 0px 5px rgba(0,0,0,0.5);
	
	transition: all 0.3s;
}

.navHide #navigation{
	left:-400px;
}

.ThemeA #header{
	background:var(--theme-color);
	height:90px;
}

.ThemeA #navigationDrawer{
	z-index:6;
	
	position:absolute;
	left:350px;
	top:0px;
	bottom:0px;
	
	background:var(--theme-color);

	border-bottom-right-radius:8px;
	border:none;

	width:50px;
	height:90px;
	
	transition: all 0.3s;
}

.navHide #navigationDrawer{
	left:0px;
}

#drawerIcon{
	display:inline-block;
	vertical-align: middle;
	margin-left:-5px;
	
	transition: all 0.3s;
}

.navHide #drawerIcon{
	-webkit-transform: rotate(18deg);
	transform: rotate(180deg);
}

.ThemeA #navigationDrawer:focus{
	outline:none;
}

.ThemeA #navigation ul{
    list-style-type: none;
	padding:0px;
	
	position:absolute;
	top:90px;
	bottom:0px;
	
	overflow:scroll;
}

.ThemeA #navigation h3{
    color:var(--theme-color);
}

.ThemeA #navigation ul li{
	padding:10px;

	vertical-align: middle;
}

.ThemeA #navigation ul .category{
	border-bottom:1px solid #AAAAAA;
}

.ThemeA #navigation ul #searchBar{
	padding:0px;
	background:#FFFFFF;
	border-top:1px solid var(--theme-color);
	
	position:relative;
}

#mapSearch:focus, .GPSbutton:focus, .SearchButton:focus{
	outline:none;
	border:none;
}

.ThemeA #mapSearch{
	padding:20;
	padding-left:10px;
	padding-right:70px;
	
	display:inline;
	border:none;
	vertical-align: middle;
	
	width:calc(100% - 60px);
}

.ThemeA .GPSbutton{
	width:60px;
	
	background:url('media/location.png');
	background-repeat:no-repeat;
	background-position: center;
	
	border:none;
	position:absolute;
	top:0px;
	bottom:0px;
	right:0px;
	
	display:inline;
	vertical-align: middle;
	cursor:pointer;
}

.ThemeA .SearchButton{
	
	width:60px;
	
	border:none;
	position:absolute;
	top:10px;
	bottom:10px;
	right:60px;
	
	background:url('media/search.png');
	background-repeat:no-repeat;
	background-position: center;
	
	border-right:1px solid var(--grey-color);
	
	display:inline;
	vertical-align: middle;
	cursor:pointer;
}

.ThemeA .dropDownMenu{
	padding:10px;
	border:1px solid var(--theme-color);
	background:#EEEEEE;
	border-radius:5px;
	display:inline;
	vertical-align: middle;

}

.ThemeA .dropDownMenu option{
	border:1px solid #AAAAAA;

}

.ThemeA .radio{
	-webkit-appearance: none;
	border-radius:11px;
	vertical-align: middle;
	
	width:20px;
	height:20px;
	margin-right:5px;
	
	border:5px solid #EEEEEE;
	background:#EEEEEE;
	box-shadow:0px 0px 0px 1px var(--theme-color);
	
	display:inline-block;
}

.ThemeA .radio:checked{
	background:var(--theme-color);
}

.ThemeA .radio:focus{
	outline:none;
}

.ThemeA .suggest{
	padding:10px;
	border:1px solid var(--theme-color);
	background:#EEEEEE;
	border-radius:5px;
	display:inline;
	vertical-align: middle;
	
	color:var(--theme-color);
}


.ThemeA #map{
	z-index:4;
	
	position:absolute;
	left:0px;
	top:0px;
	bottom:0px;
	right:0px;
	
	transition: all 0.3s;
}